.wiki-page .highlight pre .hll { background-color: #ffffcc }
.wiki-page .highlight pre  { background: #f0f0f0; }
.wiki-page .highlight pre .c { color: #60a0b0; font-style: italic } /* Comment */
.wiki-page .highlight pre .err { border: 1px solid #FF0000 } /* Error */
.wiki-page .highlight pre .k { color: #007020; font-weight: bold } /* Keyword */
.wiki-page .highlight pre .o { color: #666666 } /* Operator */
.wiki-page .highlight pre .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.wiki-page .highlight pre .cp { color: #007020 } /* Comment.Preproc */
.wiki-page .highlight pre .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.wiki-page .highlight pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.wiki-page .highlight pre .gd { color: #A00000 } /* Generic.Deleted */
.wiki-page .highlight pre .ge { font-style: italic } /* Generic.Emph */
.wiki-page .highlight pre .gr { color: #FF0000 } /* Generic.Error */
.wiki-page .highlight pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.wiki-page .highlight pre .gi { color: #00A000 } /* Generic.Inserted */
.wiki-page .highlight pre .go { color: #888888 } /* Generic.Output */
.wiki-page .highlight pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.wiki-page .highlight pre .gs { font-weight: bold } /* Generic.Strong */
.wiki-page .highlight pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.wiki-page .highlight pre .gt { color: #0044DD } /* Generic.Traceback */
.wiki-page .highlight pre .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.wiki-page .highlight pre .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.wiki-page .highlight pre .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.wiki-page .highlight pre .kp { color: #007020 } /* Keyword.Pseudo */
.wiki-page .highlight pre .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.wiki-page .highlight pre .kt { color: #902000 } /* Keyword.Type */
.wiki-page .highlight pre .m { color: #40a070 } /* Literal.Number */
.wiki-page .highlight pre .s { color: #4070a0 } /* Literal.String */
.wiki-page .highlight pre .na { color: #4070a0 } /* Name.Attribute */
.wiki-page .highlight pre .nb { color: #007020 } /* Name.Builtin */
.wiki-page .highlight pre .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.wiki-page .highlight pre .no { color: #60add5 } /* Name.Constant */
.wiki-page .highlight pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.wiki-page .highlight pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.wiki-page .highlight pre .ne { color: #007020 } /* Name.Exception */
.wiki-page .highlight pre .nf { color: #06287e } /* Name.Function */
.wiki-page .highlight pre .nl { color: #002070; font-weight: bold } /* Name.Label */
.wiki-page .highlight pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.wiki-page .highlight pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
.wiki-page .highlight pre .nv { color: #bb60d5 } /* Name.Variable */
.wiki-page .highlight pre .ow { color: #007020; font-weight: bold } /* Operator.Word */
.wiki-page .highlight pre .w { color: #bbbbbb } /* Text.Whitespace */
.wiki-page .highlight pre .mf { color: #40a070 } /* Literal.Number.Float */
.wiki-page .highlight pre .mh { color: #40a070 } /* Literal.Number.Hex */
.wiki-page .highlight pre .mi { color: #40a070 } /* Literal.Number.Integer */
.wiki-page .highlight pre .mo { color: #40a070 } /* Literal.Number.Oct */
.wiki-page .highlight pre .sb { color: #4070a0 } /* Literal.String.Backtick */
.wiki-page .highlight pre .sc { color: #4070a0 } /* Literal.String.Char */
.wiki-page .highlight pre .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.wiki-page .highlight pre .s2 { color: #4070a0 } /* Literal.String.Double */
.wiki-page .highlight pre .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.wiki-page .highlight pre .sh { color: #4070a0 } /* Literal.String.Heredoc */
.wiki-page .highlight pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.wiki-page .highlight pre .sx { color: #c65d09 } /* Literal.String.Other */
.wiki-page .highlight pre .sr { color: #235388 } /* Literal.String.Regex */
.wiki-page .highlight pre .s1 { color: #4070a0 } /* Literal.String.Single */
.wiki-page .highlight pre .ss { color: #517918 } /* Literal.String.Symbol */
.wiki-page .highlight pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
.wiki-page .highlight pre .vc { color: #bb60d5 } /* Name.Variable.Class */
.wiki-page .highlight pre .vg { color: #bb60d5 } /* Name.Variable.Global */
.wiki-page .highlight pre .vi { color: #bb60d5 } /* Name.Variable.Instance */
.wiki-page .highlight pre .il { color: #40a070 } /* Literal.Number.Integer.Long */
